html {
  background-color: #95949d;
}
h1 {
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  margin: 0.5em 0 0.5em 0;
}
label {
  display: block;
  color: rgb(48, 63, 77);
  font-family: Lato, sans-serif;
  font-size: 1.4em;
  font-weight: 300;
  margin: 0.5em 0;
}
main {
  background: white;
  border-radius: 5px;
  padding: 1.5em;
  width: 80%;
  margin: 2em auto 2em auto;
  color: rgb(1, 24, 24);
  box-shadow: 5px 5px 10px rgb(0 0 0 / 57%);
}

form {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
input {
  width: 40%;
  padding: 0.9em;
  border: 1px solid rgb(213, 214, 219);
  border-radius: 5px;
  font-family: Lato, sans-serif;
  font-size: 15px;
  color: rgb(73, 80, 87);
}
input::placeholder {
  font-size: 1.3em;
  text-align: center;
}
.tabela {
  flex-direction: row;
  justify-content: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 1em 0;
}
.medidas {
  display: flex;
  margin: 0.5em;
}
.tituloMedidas {
  margin: 0.5em;
}
.botoes {
  display: flex;
  justify-content: center;
  padding: 0 1em 0 1em ;
}
.botaoCalcular {
  font-size: 1.5em;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  border: none;
  background: rgb(47, 37, 189);
  border-radius: 25px;
  padding: .5em 2em;
  color: white;
}
.botaoCalcular:hover{
  background-color: blue;
  transform: scale(1.2);
}
.resultado {
  padding-bottom: 1em;
  font-size: 1.4em;
  text-align: center;
}

/* pc */
/* .tabela{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
} */
